@import './reset.css';
@import './variables.css';

/*  */
body {
  min-width: 360px;
  font-family: var(--fontFamily-NeueMachina);
  background-color: var(--bgColor);
  overflow-x: hidden;
}

/*  */
.main_100vh {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

/*  */
.container {
  max-width: 1280px;
  box-sizing: content-box;
  padding: 0 39px;
  margin: 0 auto;
}

/*  */
a {
  text-decoration: none;
}

/*  */
.tel {
  color: #fff;
  font-family: var(--fontFamily-RFDewi);
  font-size: 22px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.44px;
}

/*  */
.link {
  color: white;
  transition: 0.3s;
}

.white_mode .link {
  color: black;
}

/*  */
.close_modal {
  position: absolute;
  top: 0px;
  right: -62px;
  cursor: pointer;
}

/* ======================== Медиа-запросы */
@media (hover: hover) {
  .link:hover {
    color: var(--accentColor);
  }
}

@media (hover: none) {
  .link:active {
    color: var(--accentColor);
  }
}

/*  */
@media (max-width: 768px) {
  .close_modal {
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }

  .close_modal {
    width: 32px;
  }
}
